.DS_Store
JS5.1/addressbook-no-vuex/node_modules
JS5.1/addressbook-vuex/node_modules
JS5.1/vue-basics_and_exercises/7-dot-vue-files/node_modules
JS5.1/vue-basics_and_exercises/7-dot-vue-files/dist
PHP4-Laravel/app-lara-8/laravel8/node_modules
PHP4-Laravel/app-lara-8/laravel8/vendor
PHP4-Laravel/app-lara-8/laravel8/.env
PHP4-Laravel/app-lara-8/laravel8/.idea
PHP4-Laravel/app-lara-8/laravel8//public/hot
PHP4-Laravel/app-lara-8/laravel8/public/storage
PHP4-Laravel/app-lara-8/laravel8/storage/*.key
PHP4-Laravel/app-lara-8/laravel8/.phpunit.result.cache
PHP4-Laravel/app-lara-8/laravel8/Homestead.json
PHP4-Laravel/app-lara-8/laravel8/Homestead.yaml
PHP4-Laravel/app-lara-8/laravel8/npm-debug.log
PHP4-Laravel/app-lara-8/laravel8/yarn-error.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
