<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <link rel="stylesheet"
          href="css/style.css">
    <title>Vue instance</title>
</head>
<body>
    <div id="app" class="container">
        <h1>Rendu de tableaux et objets avec vue.js</h1>

        <h2>List Rendering avec un tableau</h2>
        <!-- Rendu d'un tableau simple dans une ul avec la directive v-for of -->
        <ul>
            <li v-for="item of test">{{ item }}</li>
        </ul>

        <!--        -->
        <!--        -->

        <h2>'Table Element Rendering' avec un tableau</h2>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- Rendu d'un objet simple dans un td avec la directive v-for in -->
                    <td v-for="item in test2">{{ item }}</td>
                </tr>
            </tbody>
        </table>

        <h2>'Table Element Rendering': un tableau compose d'objets</h2>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <!--   Rendu d'un tableau d'objets avec v-for  -->
                <tr v-for="items of test3">
                    <!-- Rendu d'un objet simple dans un td avec la directive v-for in -->
                    <td v-for="item in items">{{ item }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            data() {
                return {
                    test: ['item', 'item 1', 'item2'],
                    test2: {name: 'John Doe', phone: '06-06-06-06-06'},
                    test3:
                        [
                            {name: 'John Doe', phone: '06-06-06-06-06'},
                            {name: 'Jane Doe', phone: '07-07-07-07-07'},
                            {name: 'Jack Doe', phone: '08-08-08-08-08'},
                        ]
                }
            }
        }).$mount('#app');
    </script>
</body>
</html>
